
.breadcrumb {
    color: #388E3C;
    margin-left: 10px;
}
.breadcrumb:last-child {
    color: #43a047;
    font-size: 21px;
}
.breadcrumb:before {
    color: #388E3C !important;
}
.rimanterow {
	background-color: #FEEBFE;
}
.drow {
	background-color: #CBFFE6;
}
.vrow{
	background-color: #E3B776;
}
.rrow{
	background-color: #C9FF98;
}
.logo {
  font: 84px 'Arial Narrow', sans-serif;/* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
  color: #5C4C84;
  text-transform: uppercase;
  letter-spacing: -4px;
}
/* stuff for both words */
.logo span {
  position: relative;
}
.logo span:before,
.logo span:after {
  content: '';
  position: absolute;
  border-width: 32px;/* makes a nice, big 64px square */
  border-style: solid;
  border-color: transparent;
  height: 0;
  z-index: 10;
}
/* stuff for 1st word */
.logo .word1 {
  color: #dc006c;
  margin-right: -38px;
  transform: rotateY(180deg);/* using Prefix free */
  display: inline-block;/* required for transform */
  z-index: 10;/* stack 1st word on top */
}
.logo .word1:before {
  right: -4px;/* would be left, but we flipped the word */
  top: -9px;
  border-top-color: #FEEBFE;/* match background color */
  border-right-color: #FEEBFE;/* would be left, but we flipped the word */
}
.logo .word1:after {
  left: 17px;/* would be right, but we flipped the word */
  bottom: -15px;
  border-bottom-color: #FBEBF2;
  border-left-color: #FBEBF2;/* would be right, but we flipped the word */
}
/* stuff for 2nd word */
.logo .word2 {
  z-index: 0;/* stack 2nd word below */
}
.logo .word2:before {
  left: -4px;
  top: -6px;
  border-top-color: #FEEBFE;
  border-left-color: #FEEBFE;
}
.text {
	text-align: center;
}
.vertical {
	padding: 20px;
    text-align: justify;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #388e3c;
}
.owl-prev {
    width: 50px;
    height: 35px;
    position: absolute;
    top: 35%;
    margin-left: -20px;
    display: block !important;
    border:0px solid black;
}
.owl-next {
    width: 50px;
    height: 35px;
    position: absolute;
    top: 35%;
    right: 5px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {
	transform : scale(1,6); 
	color: #ccc;
}
.download-button {
    position:absolute;
    top:10px;
    left:10px;
}​
.paveikslas {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 50px;
    margin-top: 20px; 
}

.laukas {
	background-color: #2e7d32;
}
.fotosp {
    margin-top: 40px;
    background-color: #81c784;
}
.svelni {
    border-radius: 15px;
    width: 150px;
    height: 150px; 
}
.mygis {
    background-color: transparent; 
    border-style: none;
    border-radius: 15px;
    width: 150px;
    height: 150px; 
}
.card-content {
    margin-top: 10px;
}
.keturisimtai {
    height: 450px;
    font-weight: bold;
    margin-top: 0;
    font-family: 'Shadows Into Light Two', cursive;
}
h4 {
    text-align: left;
    font-size: 1.3rem;
    margin: .60rem 0 0 0;
}
h5 {
    font-size: 1.64rem;
    line-height: 5%;
    margin: .82rem 0 0 0;
}
.tabs .tab a {
    color: #61d466;
}
.tabs .tab a:hover, .tabs .tab a.active {
    color: #388e3c;
}
.tabs .indicator {
    background-color: #388e3c;
}

h2 {
    font-family: 'Roboto', sans-serif;
}
input[type="range"] + .thumb{
position: absolute;
top: 180px;
bottom:0;
left: 0;
border: none;
height: 0;
width: 0;
border-radius: 50%;
background-color: green;
margin-left: 7px;
-webkit-transform-origin: 50% 50%;
transform-origin: 50% 50%;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}
input[type="range"]::-moz-range-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: green;
    margin-top: -5px;
}
input[type="range"] {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    margin: 20px 0;
    padding: 0px;
}
.deivlogo {
  font: 84px 'Arial Narrow', sans-serif;/* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
  color: #FFF067;
  text-transform: uppercase;
  letter-spacing: -4px;
}
/* stuff for both words */
.deivlogo span {
  position: relative;
}
.deivlogo span:before,
.deivlogo span:after {
  content: '';
  position: absolute;
  border-width: 32px;/* makes a nice, big 64px square */
  border-style: solid;
  border-color: transparent;
  height: 0;
  z-index: 10;
}
/* stuff for 1st word */
.deivlogo .word1 {
  color: #FF89AD;
  margin-right: -38px;
  transform: rotateY(180deg);/* using Prefix free */
  display: inline-block;/* required for transform */
  z-index: 10;/* stack 1st word on top */
}
.deivlogo .word1:before {
  right: -4px;/* would be left, but we flipped the word */
  top: -9px;
  border-top-color: #CBFFE6;/* match background color */
  border-right-color: #CBFFE6;/* would be left, but we flipped the word */
}
.deivlogo .word1:after {
  left: 17px;/* would be right, but we flipped the word */
  bottom: -15px;
  border-bottom-color: #CBFFE6;
  border-left-color: #CBFFE6;/* would be right, but we flipped the word */
}
/* stuff for 2nd word */
.deivlogo .word2 {
  z-index: 0;/* stack 2nd word below */
}
.deivlogo .word2:before {
  left: -4px;
  top: -6px;
  border-top-color: #CBFFE6;
  border-left-color: #CBFFE6;
}
.deivlogo .word2:after {
  right: -4px;  
  bottom: 4px;
  border-bottom-color: #CBFFE6;
  border-right-color: #CBFFE6;
}
.deivlogo {
  font: 84px 'Arial Narrow', sans-serif;/* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
  color: #FFF067;
  text-transform: uppercase;
  letter-spacing: -4px;
}
/* stuff for both words */
.deivlogo span {
  position: relative;
}
.deivlogo span:before,
.deivlogo span:after {
  content: '';
  position: absolute;
  border-width: 32px;/* makes a nice, big 64px square */
  border-style: solid;
  border-color: transparent;
  height: 0;
  z-index: 10;
}
/* stuff for 1st word */
.deivlogo .word1 {
  color: #FF89AD;
  margin-right: -38px;
  transform: rotateY(180deg);/* using Prefix free */
  display: inline-block;/* required for transform */
  z-index: 10;/* stack 1st word on top */
}
.deivlogo .word1:before {
  right: -4px;/* would be left, but we flipped the word */
  top: -9px;
  border-top-color: #CBFFE6;/* match background color */
  border-right-color: #CBFFE6;/* would be left, but we flipped the word */
}
.deivlogo .word1:after {
  left: 17px;/* would be right, but we flipped the word */
  bottom: -15px;
  border-bottom-color: #CBFFE6;
  border-left-color: #CBFFE6;/* would be right, but we flipped the word */
}
/* stuff for 2nd word */
.deivlogo .word2 {
  z-index: 0;/* stack 2nd word below */
}
.deivlogo .word2:before {
  left: -4px;
  top: -6px;
  border-top-color: #CBFFE6;
  border-left-color: #CBFFE6;
}
.deivlogo .word2:after {
  right: -4px;  
  bottom: 4px;
  border-bottom-color: #CBFFE6;
  border-right-color: #CBFFE6;
}
a {
    color: #388e3c;
}
